*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("./images.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
}
#ball{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    position: absolute;
    left: 1px;
    top: 1px;
    /* background: radial-gradient(circle at 65% 15%, white 1px, rgb(221, 124, 124) 3%, rgb(148, 33, 33) 60%, rgb(156, 3, 3) 100%); */
    background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #f8dada 20px), repeating-linear-gradient(#7e0d0d, #fa95a6);
    background-color: #f3c1c1;
    border: none;
    box-shadow: 15px 15px 10px 0px rgba(56, 55, 55, 0.75);
}